<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/Css/index.css">
</head>
<body>
    <%- include('header'); %>
    <table class="addP">
        <tr>
            <td><label for="title">Title</label></td>
            <td><input type="text" name="title" id=""></td>
        </tr>
        <tr>
            <td><label for="price">price</label></td>
            <td><input type="text" name="price" id=""></td>
        </tr>
        <tr>
            <td><label for="description">description</label></td>
            <td><input type="text" name="description" id=""></td>
        </tr>
        <tr>
            <td><label for="img">img</label></td>
            <td><input type="text" name="img" id=""></td>
        </tr>
        <tr>
            <td><label for="rating">rating</label></td>
            <td><input type="text" name="rating" id=""></td>
        </tr>
    </table> 
    <button>Nhấn</button>
    <%- include('footer'); %>
</body>
</html>